<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobilpogbead">
    <!-- <uses-permission android:name="android.permission.BODY_SENSORS"/> -->
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.magnetic_field"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope_uncalibrated"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE__EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Invaders From Space"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobilpogBead">
        <activity
            android:name=".Settings"
            android:exported="true"/>
        <activity
            android:name=".MainMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="Invaders From Space">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LeaderboardActivity"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
    </application>
</manifest>